#parent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#board {
    width: 330px;
    height:310px;
    border:3px solid white;
    z-index: 1;
}

#board div {
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#t5 {
    border: 5px solid;
}

#t4, #t6 {
    border-top: 5px solid;
    border-bottom: 5px solid;
}
#t2, #t8 {
    border-left: 5px solid;
    border-right: 5px solid;
}