#parent {
    width: 330px;
    margin:0 auto;
}

#board {
    width: 330px;
    height:310px;
    border:3px solid white;
    z-index: 1;
}

#board div {
    width: 100px;
    height: 100px;
    float: left;
}

#t5 {
    border: 1px solid;
}

#t4, #t6 {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#t2, #t8 {
    border-left: 1px solid;
    border-right: 1px solid;
}