body {
    background-color: rgb(255, 217, 167);
    font-family: monospace;
}
#parent {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 695px;

}

#board {
    width: 330px;
    height:310px;
    z-index: 1;
    float: left;
}

#board div {
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#t5 {
    border: 5px solid black;
}

#t4, #t6 {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
#t2, #t8 {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#left {
    width: 365px;
    float: left;
    height: 310px;
    /* display: flex; */
    /* text-align: center; */
    line-height: 250px;
    text-align: center;
    font-size: 20px;
    /* display: block; */
}

h1 {
    height: 70px;
}

img {
    display: none;
    opacity: 0.7;
}

.fade-in-text {
    font-size: 150px;
    color: black;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.7;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.7;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.7;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.7;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.7;}
  }